.sectionWrapper {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.bannerContainer {
  background: #C7F0FD;

  border-radius: 30px;
  width: 100%;
 
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 60px;
  position: relative;
}

.content {
   flex: 1.2;

  max-width: 550px;
  height: 559px;
  display: flex;
  flex-direction: column;
  justify-content: center; 

  max-width: 616px;


}

.subTitle {
  
 


 
margin-top: 40px;
 max-width: 616px;
height: 24px;
opacity: 1;
font-family: Plus Jakarta Sans;
font-weight: 700;
font-style: Bold;

  font-size: 19px;
  line-height: 1;       
  letter-spacing: 0.15em; 


text-transform: uppercase;
color: #FF9140;



}

.mainTitle {
 
margin-top: 20px;
  font-family: Source Serif Pro;
font-weight: 600;
font-style: SemiBold;

  font-size: 60px;
  line-height: 1.1;       
  letter-spacing: -0.04em; 

text-transform: capitalize;

color: #142349;



}

.highlight {
  color: #4466ff;
 

  font-family: Source Serif Pro;
font-weight: 600;
font-style: SemiBold;

  font-size: 60px;
  line-height: 1;       
  letter-spacing: 0.02em; 


text-transform: capitalize;
text-decoration: underline;
text-decoration-style: solid;

text-decoration-thickness: 0%;

}

.description {

  
margin-top: 5px;
  font-family: DM Sans;
font-weight: 300;
font-style: Light;
font-size: 19px;
line-height: 30px;
letter-spacing: 0;
vertical-align: middle;

color: #142349;


}

.button {
  margin-top: 10px;
  background-color: #3366FF;

  color: white;
 
  text-decoration: none;
  font-weight: 600;

  display: inline-flex;
  align-items: center;
  gap: 10px;
 

width: 185px;
height: 40px;
opacity: 1;
border-radius: 192px;
padding-top: 16px;
padding-right: 28px;
padding-bottom: 16px;
padding-left: 28px;



font-family: Plus Jakarta Sans;
font-weight: 600;
font-style: SemiBold;

  font-size: 15px;
  line-height: 1;       
  letter-spacing: 0.15em;  

vertical-align: middle;
text-transform: uppercase;




}
.icon{
  
  color: #ffffff;
}


 .imageWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;


}

.doctorImage {

  min-height: 620px;
  width: auto !important;
  max-width: none !important;
  position: absolute;
 
  bottom: 0;
  right: -20px;
} 






@media (max-width: 1024px) {
  .bannerContainer {
    padding: 0 40px;
  }
  .doctorImage {
    height: 100% !important;
    right: 0;
  }
}

@media (max-width: 850px) {
  .bannerContainer {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px 0 20px;
    align-items: center;
    overflow: hidden;
  }

  .content {
    padding: 0 0 40px 0;
    max-width: 100%;
    align-items: center;
  }

  .imageWrapper {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .doctorImage {
    position: relative;
    height: 100% !important;
    right: auto;
  }
}
