/* !! Way-1 For Border Issue Solution */
/* .wrapper {
  width: 100%;
  max-width: 1440px;
  height: 60px;
  display: flex;
  opacity: 1;
  margin-top: 16px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #c2d1ff;
} */

/* .wrapper {
  width: 100%;
  height: 60px;
 
  
}  */

/* !! Way-2 For Border Issue Solution */
.wrapper {
  width: 100%;
  max-width: 1440px;
  min-height: 60px;
  display: flex;
  opacity: 1;
  /* position: relative;

  top: 16px; */
  margin-top:16px ;
  border: none;
}

.ContainerLogo {
  display: flex;
  width: 163px;
  height: 44px;
  opacity: 1;
  /* position: relative;

  left: 120px; */
  margin-left: 120px;
  /* margin-left: 120px; */
  gap: 8px;
}

.ImageLogo {
  width: 41.48816680908203px;
  height: 41.505882263183594px;
  /* position: relative; */

  opacity: 1;
  /* top: 0.24px; */
  /* left: 0.26px; */
  right: 8px;
  /* border-width: 0.25px; */

  /* border: 0.25px solid; */
  .box {
    border: 0.25px solid;
    border-image: linear-gradient(88.28deg, #001c81 22.65%, #3359df 107.65%) 1;
  }
}

.logoText {
  display: flex;
  flex-direction: column;
  /* line-height: 1; */
  /* position: relative; */
  /* top: 16px; */
  /* bottom: 16px; */
  /* left: 170px; */
  width: 111px;
  height: 44px;

  opacity: 1;
}

.brand {
  width: 111px;
  height: 28px;

  opacity: 1;

  font-family: "Plus Jakarta Sans", sans-serif;

  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  left: 170px;
  line-height: 100%;
  padding-top: 3px;

  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #2952ce;
}

.sub {
  width: 111px;
  height: 16px;

  opacity: 1;
  /* position: relative; */
  /* top: 26px; */
  padding-bottom: 2px;;

  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;

  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #5c85ff;
  top: 44px;
}

.info {
  display: flex;
  width: 410px;
  height: 24px;
  /* width: fit-content;
  height: auto; */
  opacity: 1;
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 392px;
  /* padding-left: 392px; */
  gap: 40px;
}

.location {
  width: 195px;
  height: 24px;
  display: flex;
  opacity: 1;
  gap: 12px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.icon1 {
  color: #142349;
  width: 19px;
  height: 24px;

  opacity: 1;
}

.text1 {
  width: 164px;
  height: 20px;
 /* padding-left: 12px; */
 padding-top: 2px;
 padding-bottom: 2px;

  opacity: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.02em;
  vertical-align: middle;
  color: #142349;
}

.phone {
  width: 175px;
  height: 24px;
  display: flex;
  opacity: 1;
  gap: 12px;
  position: relative;
}

.icon2 {
  width: 24px;
  height: 24px;

  opacity: 1;
}

.text2 {
  width: 139px;
  height: 20px;

   /* padding-left: 12px; */
 padding-top: 4px;
 padding-bottom: 2px;

  opacity: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 15px;

  line-height: 1;
  letter-spacing: 0.02em;
  vertical-align: middle;
  color: #142349;
  left: 36px;
}

.button {
  width: 186px;
  height: 40px;
  opacity: 1;
  border: none;

  margin-left: 49px;
  margin-right:120px;
  gap: 10px;
  border-radius: 192px;
  padding-top: 10.5px;
  padding-right: 28px;
  padding-bottom: 10.5px;
  padding-left: 28px;
  background: #3366ff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textbtn {
  width: 130px;
  height: 19px;
  opacity: 1;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.15em;

  text-transform: uppercase;
  color: #ffffff;
  padding-top: 3px;
}

/* !! Way-1 For Border Issue Solution */

/* @media (min-width: 1441px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
} */

/* !! Way-2 For Border Issue Solution */

@media (max-width: 1440px) {
  .wrapper {
    border-bottom: 1px solid #c2d1ff;
  }
}

@media (max-width: 1200px) {
  .logo {
    margin-left: 40px;
  }

  .info {
    margin-left: auto;
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    height: auto;
    padding: 12px 24px;
  }

  .logo {
    margin-left: 0;
  }

  .info {
    margin-left: 0;
    gap: 24px;
  }

  .button {
    margin-left: 0;
  }

  .info,
  .button {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .logo {
    margin-left: 0;
  }

  .info {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    gap: 12px;
  }

  .button {
    width: 100%;
    margin-left: 0;
  }

  .info,
  .button {
    display: none;
  }
}

@media (max-width: 480px) {
  .brand {
    font-size: 18px;
  }

  .sub {
    font-size: 11px;
  }

  .text1,
  .text2 {
    font-size: 14px;
  }

  .textbtn {
    letter-spacing: 0.1em;
  }
}
