.container {
  background-color: #f4faff;
  padding: 60px 40px;
  text-align: center;

  max-width: 1200px;
  margin: 40px auto;
  border-radius: 25px;
}

.subTitle {
  color: #ff9140;

  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 8px;

  opacity: 1;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;

  text-align: center;
  text-transform: uppercase;
}

.mainTitle {
  font-family: Source Serif Pro;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 46px;
  line-height: 1;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;
}

.blueText {
  color: #4d7cff;

  font-family: Source Serif Pro;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 46px;
  line-height: 1;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;
}

.card h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;
  color: #142349;

  text-transform: uppercase;
}

.card p {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #142349;
}

.learnMore {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.15em;

  vertical-align: middle;
  text-transform: uppercase;
  color: #3366ff;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
}

.card {
  background: #ffffff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.03);
  text-align: left;
  transition: transform 0.2s ease;
}

.card:nth-child(1),
.card:nth-child(2) {
  grid-column: span 6;
}

.card:nth-child(n + 3) {
  grid-column: span 4;
}

@media (max-width: 900px) {
  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(n + 3) {
    grid-column: span 12;
  }
}

.iconWrapper {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.card p {
  color: #777;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.learnMore {
  color: #4d7cff;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
