* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 1440px;
  height: 7785px;
}

body {
  width: 100%;
  height: 7785px;
  opacity: 1;
  background: #ffffff;
  overflow-x: hidden;
}
