.wrapper {
  width: 100%;
  background: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
  margin-bottom: 48px;
}

.label {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;

  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;

  text-transform: uppercase;
  color: #ff9140;
}

.title {
  font-size: 36px;
  color: #3b6cff;
  margin-top: 10px;
}

.button7 {
  width: 206px;
  height: 48px;

  background: #3366ff;
  border: none;
  border-radius: 192px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  padding: 0;
  margin-bottom: 22px;
}

.text8 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: #ffffff;

  white-space: nowrap;
}

.arrow9 {
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 28px;
}

.bigCard,
.smallCard {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.bigCard {
  aspect-ratio: 16 / 10;
}

.smallCard {
  aspect-ratio: 16 / 9;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.image {
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  inset: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
}

.date {
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #cfe6ff;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 14px;
  margin-left: 30px;
  font-weight: 700;
}

.read {
  font-size: 16px;
  color: #3366ff;
  font-weight: 900;
  margin-left: 30px;
  cursor: pointer;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .right {
    flex-direction: row;
  }

  .smallCard {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 60px 16px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .title {
    font-size: 28px;
  }

  .right {
    flex-direction: column;
  }

  .overlay {
    padding: 18px;
  }

  .text {
    font-size: 13px;
  }
}
