.mainheader{
  width: 100%;

  max-width: 1440px;
min-height: 1041px;

opacity: 1;
background: #EFF6FF;




}

/* !! Way-1 For Border Issue Solution */
/* .wrapper {
  width: 100%;
  max-width: 1440px;
  height: 60px;
  display: flex;
  opacity: 1;
  margin-top: 16px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #c2d1ff;
} */

/* .wrapper {
  width: 100%;
  height: 60px;
 
  
}  */

/* !! Way-2 For Border Issue Solution */
.wrapper {
  width: 100%;
  max-width: 1440px;
  min-height: 76px;

  display: flex;
  opacity: 1;
   /* position: relative;  */

  /* top: 16px;  */
  /* margin-top: 16px; */
  padding-top: 16px;
  border: none;
}

.ContainerLogo {
  display: flex;
  width: 163px;
  height: 44px;
  /* height: auto; */
  opacity: 1;
  /* position: relative;

  left: 120px; */
  margin-left: 120px;
  /* margin-left: 120px; */
  gap: 8px;
}

.ImageLogo {
  width: 42px;
  height: 42px;
  /* position: relative; */

  opacity: 1;
  /* top: 0.24px; */
  /* left: 0.26px; */
  /* right: 8px; */
  /* border-width: 0.25px; */

  /* border: 0.25px solid; */
  .box {
    border: 0.25px solid;
    border-image: linear-gradient(88.28deg, #001c81 22.65%, #3359df 107.65%) 1;
  }
}

.logoText {
  display: flex;
  flex-direction: column;
  /* line-height: 1; */
  /* position: relative; */
  /* top: 16px; */
  /* bottom: 16px; */
  /* left: 170px; */
  width: 111px;
  height: 44px;

  opacity: 1;
}

.brand {
  width: 111px;
  height: 28px;

  opacity: 1;

  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
  /* font-family: "Plus Jakarta Sans"; */
  /* font-family: " sans-serif"; */

  font-weight: 600;
  /* font-style: SemiBold; */
  font-size: 22px;
  left: 170px;
  line-height: 100%;
  padding-top: 3px;

  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #2952ce;
}

.sub {
  width: 111px;
  height: 16px;

  opacity: 1;
  /* position: relative; */
  /* top: 26px; */
  padding-bottom: 2px;

  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  /* font-style: medium; */
  font-size: 12px;

  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #5c85ff;
  top: 44px;
}

.info {
  display: flex;
  width: 410px;
  height: 24px;
  /* width: fit-content;
  height: auto; */
  opacity: 1;
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 392px;
  /* padding-left: 392px; */
  gap: 40px;
}

.location {
  width: 195px;
  height: 24px;
  display: flex;
  opacity: 1;
  gap: 12px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.icon1 {
  color: #142349;
  width: 19px;
  height: 24px;

  opacity: 1;
}

.text1 {
  width: 164px;
  height: 20px;
  /* padding-left: 12px; */
  padding-top: 2px;
  padding-bottom: 2px;

  opacity: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  /* font-style: Light; */
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.02em;
  vertical-align: middle;
  color: #142349;
}

/* .san{
   width: 164px;
  height: 20px;
   padding-top: 2px;
 padding-bottom: 2px;

  opacity: 1;
  font-family:  "sans-serif";
    font-weight: 300;
     font-size: 15px;
  line-height: 1;
  letter-spacing: 0.02em;
  vertical-align: middle;
  color: #142349;

} */

.phone {
  width: 175px;
  height: 24px;
  display: flex;
  opacity: 1;
  gap: 12px;
  /* position: relative; */
}

.icon2 {
  width: 24px;
  height: 24px;

  opacity: 1;
}

.text2 {
  width: 139px;
  height: 20px;

  /* padding-left: 12px; */
  padding-top: 4px;
  padding-bottom: 2px;

  opacity: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  /* font-style: Light; */
  font-size: 15px;

  line-height: 1;
  letter-spacing: 0.02em;
  vertical-align: middle;
  color: #142349;
  /* left: 36px; */
}

.button {
  width: 186px;
  height: 40px;
  opacity: 1;
  border: none;

  margin-left: 49px;
  margin-right: 120px;
  gap: 10px;
  border-radius: 192px;
  padding-top: 10.5px;
  padding-right: 28px;
  padding-bottom: 10.5px;
  padding-left: 28px;
  background: #3366ff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button:hover {
  background-color: #0284c7;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(14, 165, 233, 0.35);
}

.textbtn {
  width: 130px;
  height: 19px;
  opacity: 1;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.15em;

  text-transform: uppercase;
  color: #ffffff;
  padding-top: 3px;
}

/* !! Way-1 For Border Issue Solution */

/* @media (min-width: 1441px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
} */

/* !! Way-2 For Border Issue Solution */

@media (max-width: 1440px) {
  .wrapper {
    border-bottom: 1px solid #c2d1ff;
  }
}
/* 
@media (max-width: 1200px) {
  .logo {
    margin-left: 40px;
  }

  .info {
    margin-left: auto;
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    height: auto;
    padding: 12px 24px;
  }

  .logo {
    margin-left: 0;
  }

  .info {
    margin-left: 0;
    gap: 24px;
  }

  .button {
    margin-left: 0;
  }

  .info,
  .button {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .logo {
    margin-left: 0;
  }

  .info {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    gap: 12px;
  }

  .button {
    width: 100%;
    margin-left: 0;
  }

  .info,
  .button {
    display: none;
  }
}

@media (max-width: 480px) {
  .brand {
    font-size: 18px;
  }

  .sub {
    font-size: 11px;
  }

  .text1,
  .text2 {
    font-size: 14px;
  }

  .textbtn {
    letter-spacing: 0.1em;
  }
} */

@media (min-width: 1440px) {
  .ContainerLogo {
    margin-left: 120px;
  }

  .info {
    margin-left: 392px;
  }

  .button {
    margin-left: 49px;
    margin-right: 120px;
  }
}

@media (max-width: 1200px) {
  .ContainerLogo {
    margin-left: 40px;
  }

  .info {
    margin-left: auto;
    margin-right: 24px;
    gap: 24px;
  }

  .button {
    margin-left: 24px;
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .info {
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }

  .button {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .ContainerLogo {
    margin-left: 0;
    justify-content: center;
  }

  .logoText {
    align-items: center;
    text-align: center;
  }

  .info {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .location,
  .phone {
    justify-content: center;
  }

  .button {
    width: auto;
    margin: 8px 0 0;
  }
}

/* !! Navbar */

.Navbar {
  width: 100%;
  max-width: 1200px;
  min-height: 67px;
  opacity: 1;
  margin-top: 30px;
  margin-left: 120px;
  background: #c7f0fd;
  display: flex;

  border-radius: 45px;
}

.menu {
  display: flex;

  width: 684px;
  height: 19px;
  opacity: 1;
  margin-top: 22px;
  margin-left: 52px;
  margin-bottom: 26px;
  gap: 40px;
}

.menu li {
  display: flex;
  align-items: center;
}

.active {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  text-decoration: none;
  color: #3366ff;
}

.link {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  text-decoration: none;
  color: #142349;

  display: flex;
  align-items: center;
  gap: 2px;
}

.SearchBox {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 999px;
  padding: 6px 10px;

  width: 304px;
  height: 43px;

  opacity: 1;
  margin-top: 12px;
  margin-left: 108px;

  width: 304;
  height: 43;

  opacity: 1;
  border-radius: 82px;
}

.Input {
  width: 180px;
  border: none;
  outline: none;
  font-size: 13px;
  padding-left: 5px;

  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  /* font-style: Light; */
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.02em;

  /* color: #adc2ff; */
  opacity: 0.5;
}

.searchBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 35px;
  height: 32px;

  opacity: 1;
  top: 6px;
  margin-left: 72px;
  border-radius: 50px;
  gap: 12px;
  padding: 17px;
  background: #3366ff;
}

@media (max-width: 1200px) {
  .Navbar {
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
  }

  .menu {
    margin-left: 0;
    width: auto;
  }

  .SearchBox {
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .Navbar {
    flex-direction: column;
    height: auto;
    gap: 12px;
    padding: 16px;
    align-items: center;
  }

  .menu {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .menu li {
    white-space: nowrap;
  }

  .SearchBox {
    width: 100%;
    margin: 8px 0 0 0;
  }

  .Input {
    width: 100%;
  }

  .searchBtn {
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .menu {
    row-gap: 10px;
    column-gap: 16px;
  }

  .link,
  .active {
    font-size: 13px;
    letter-spacing: 0.1em;
  }

  .SearchBox {
    height: 42px;
  }
}


/* !! Hero */

.hero {
  display: flex;

  /* max-width: 1440px; */
   max-width: 1722px;
  width: 100%;
  min-height: 775px;
  opacity: 1;
  margin-top: 33px;
  margin-left: 120px;
  /* margin-left: 134x; */

  


}

.left {
  max-width: 649px;
  display: flex;
  flex-direction: column;
  min-height: 479px;
  /* background-image: linear-gradient(to bottom left   #c1ecf9);     */
}



.content {
  /* width: 649px; */
    max-width: 649px;
  /* height: 343px; */
  min-height: 343.9706115722656;
  opacity: 1;

  gap: 20px;
  margin-top: 8px;
  margin-left: 5px;
}

.content1{
       
    max-width: 649px;
min-height: 222px;
opacity: 1;
gap: 30px;

}


.tag {
  width: 306px;
  height: 24px;
  opacity: 1;

  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 600;
  /* font-style: Bold; */
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ff9140;
}

.textcont{
  max-width: 649px;
min-height: 168px;
opacity: 1;
  padding-top: 30px;


}

.textcont h1 {



  opacity: 1;

  font-family: "Source Serif Pro",serif;
  font-weight: 600;
  font-style: SemiBold;

  font-size: 76px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  text-transform: capitalize;
}

.textcont span {
  color: #3b6cff;

  font-family: "Source Serif Pro",serif;
  font-weight: 600;
  font-style: SemiBold;

  font-size: 76px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  text-transform: capitalize;
}

.para p{
  max-width: 535px;
  min-height: 90px;
  margin-top: 20px;
  opacity: 1;

  font-family: "DM Sans",sans-serif;
  font-weight: 300;
  /* font-style: Light; */
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0;
  color: #142349;
  top: 20px;
}

.actions {
  display: flex;
  align-items: center;

  margin-top: 54px;
  max-width: 416px;
  min-height: 40px;
  opacity: 1;

}

.primaryBtn {
  border: none;
  /* font-weight: 600; */
  cursor: pointer;

  max-width: 172px;
  min-height: 40px;
  opacity: 1;

  border-radius: 192px;

  gap: 10px;
  background: #3366ff;
}

.textc {
  max-width: 116px;
  min-height: 19px;
  opacity: 1;
  font-family: "Plus Jakarta Sans",sans-serif ;
  font-weight: 600;
  /* font-style: SemiBold; */
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.15em;

  vertical-align: middle;
  text-transform: uppercase;
    padding-top: 13px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 28px;
  color: #ffffff;

  /* box {
    border: 0.25px solid;
    border-image: linear-gradient(88.28deg, #3177E1 22.65%, #ffffff 104.65%) ;
  } */

 /* box-shadow: 1px 10px 12.7px 0px #3177E1;  */
/* backdrop-filter: blur(271.8999938964844px) */





  
}

.video {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #0a2540;
  cursor: pointer;
  margin-left: 40px;
}

.play {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /* background: #ffedd5; */
  color: #ff8a00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textwatch {
  width: 154px;
  height: 20px;
  opacity: 1;

  font-family: "DM Sans",sans-serif;
  font-weight: 500;
  /* font-style: Medium; */
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #142349;
  padding-top: 4px;

  vertical-align: middle;
  text-transform: capitalize;
}

.right {
  max-width: 648px;
  min-height: 648px;
  margin-top: 120px;
  /* margin-right: 60px; */
  margin-left: 190px;

  position: relative;

  backdrop-filter: blur(272px);
  -webkit-backdrop-filter: blur(272px);
}

.circle {
  width: 420px;
  height: 420px;
  border-radius: 50%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img:first-child {
  position: relative;
  z-index: 1;
}

.imgdoc {
  position: absolute;
  top: 27%;
  right: -20%;
  z-index: 2;

  transform: scale(1.2);
}


@media (max-width: 1024px) {
  .hero {
    margin-left: 40px;
    padding-right: 40px;
  }

  .right {
    width: 520px;
    height: 520px;
    margin-top: 80px;
  }

  .circle {
    width: 360px;
    height: 360px;
  }

  .imgdoc {
    width: 150px;
    right: -14%;
    transform: scale(1);
  }
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    margin: 0;
    padding: 48px 20px;
    min-height: auto;
  }

  .left {
    width: 100%;
  }

  .content {
    width: 100%;
    height: auto;
  }

  .left h1,
  .left h1 span {
    width: 100%;
    font-size: 36px;
    line-height: 1.2;
  }

  .para {
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 24px;
    
  }

  .actions {
    width: 100%;
    flex-direction: row;
    gap: 20px;
    margin-top: 32px;
  }

  .video {
    margin-left: 0;
  }

  .right {
    width: 100%;
    height: auto;
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
  }

  .circle {
    width: 260px;
    height: 260px;
  }

  .circle img:first-child {
    width: 100%;
    height: auto;
  }

  .imgdoc {
    width: 110px;
    top: 30%;
    right: -8%;
    transform: scale(1);
  }
}


@media (max-width: 480px) {
  .left h1,
  .left h1 span {
    font-size: 30px;
  }

  .actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .circle {
    width: 220px;
    height: 220px;
  }

  .imgdoc {
    width: 95px;
    right: -6%;
  }
}
